
    
         h2{
            background-color: rgb(52, 107, 166) ;
            color: rgb(168, 205, 66);
            /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 40px; */
        } 
        /* p{
            background-color: rgb(55, 15, 66) ;
            color: rgb(188, 131, 131);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
        }
        img {
            border: 2px solid rgb(27, 27, 44);;
        }
        ol{
            background-color: rgb(148, 56, 56) ;
            color: rgb(188, 131, 131);
            font-family:cursive;
            font-size: 20px;
        } */

